.prediction {
  width: 100%;
  background: linear-gradient(to Right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  padding: 2rem;
  border-radius: 2rem;
}

.prdictionTime {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.timer {
  display: flex;
}

.timeLeft {
  color: #fff;
  font-size: 1rem;
  margin-right: 50px;
}

.time {
  color: #fff;
  margin: 1rem 2rem;
  font-size: 1rem;
}

.predictHeader {
  color: #fff;
  margin-bottom: 2rem;
}

.predictButtons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.outCome {
  margin: 0 1rem;
  padding: 1rem 10rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #0077b6;
  cursor: pointer;
}

.alreadyHeader {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.predictionTeam {
  display: flex;
}

.predictionTeamImage {
  width: 2rem;
  margin-right: 1rem;
}

.predictionTeamName {
  font-size: 1rem;
  color: #fff;
}

.result {
  font-size: 2rem;
  color: #fff;
}

.notLoggedIn {
  color: #fff;
}

.notLoggedIn > a {
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 1rem;
}
